<div class="card">
  <div class="card__body">
    <%= link_to post.title, post_path(post.id), class: :card__title%>
    <p class="card__summary">
    </p>
    <%= link_to post.user.nickname, root_path, class: :card__user %>
  </div>
</div>