
<main class="main">
<div class="inner">
  <div class="main_contents wrapper">
    <article>
        
     <div>
      <%= render partial:"post", collection: @posts %>
    </div>
    </article>
 </div>