/* リセットCSS */


* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #f6f6f6;
  border-top:#808080 solid 1px;
}

article {
  width: 1050px;
}

aside {
  width: 330px;
  background-color: #ffffff;
  margin: 25px 0 ;
}

.main_contents {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 10px;
}

.post {
  background-color: white;
  margin: 25px 5px;
  padding: 5px;
}

.post_content{
  margin: 8px;
}

.post_date{
  margin-left: 15px;

}

.title {
  text-decoration: none;
  color: #3b4043;
  text-decoration: none;
  color: #3b4043;
  font-size: 130%;
  font-weight: bold;
  margin-left: 8px;
}

.post_detail{
  display: flex;
  justify-content: flex-start;
}

.post_product{
  margin: 0 10px;
}

.post_genre{
  margin: 0 10px;
}

.post_type{
  margin: 0 10px;
}

.post_spoil{
  margin: 0 10px;
}

.post_favorites{
  margin-left: auto;
  font-size: x-large;
}

.post_search{
  margin: 0 50px;
}
.user {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #87CEFA;
  margin-bottom: 48px;
  height: 225px;
  position:relative;
  border-bottom: #808080 solid 1px;
}

.icon {
  font-size: 50px;
  color: black;
  }

.logo {
  position:absolute;
  bottom: 0px;
}

.my-page {
  width:200px ;
  height: 50px;
  padding-right: 10px;
  margin: 0 100px 0 auto;
  padding-top: 10px;
  text-align: right;
}

.head_title {
  text-align: center;
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
  font-weight: 900;
  font-size: 58px;
  margin-left: 30px;
}

.nav {
  margin: 91px 20px 0 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.logo {
  width: 295px;
}

.nav__btn{
  display: inline-block;
  padding: 6px 26px;
  font-size: 13px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 5px;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 6px 26px;
  font-size: 13px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.search-btn{
  display: inline-block;
  padding: 6px 26px;
  font-size: 13px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 5px;
  background-color: #ffffff;
}

.search-input{
  font-size: 13px;
  padding: 6px 26px;
  border-color: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  color: #87CEFA;
  text-decoration: none;
}

input::placeholder{
  color: #87CEFA;
}

.search-btn:hover{
  color: #fff;
  background: #87CEFA;
}

/* aサイド */
.a-head {
  text-align: center;
  margin:  auto;
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
  font-weight: 900;
  font-size: x-large;
  margin-top: 5px;
}

.a-content {
  margin: 8px;
}

.a-text
 {
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
  font-weight: 900;
  font-size: 200%;
 }

.ranking {
  margin: 15px 8px;
}

.rank_head {
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
  font-weight: 900;
  font-size: x-large;
  text-align: center;

}

.rank-num {
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
  font-weight: 900;
  font-size: large;
}

.rank_title {
  text-decoration: none;
  color: #3b4043;
  font-size: large;
  font-weight: bold;
}


body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}



/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 6px 26px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}


.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}


/* 詳細ページ */


.post_hedding{
  margin-top: 8px;
  padding-top: 8px;
  font-weight: bold;
  text-align: center;
  font-size: 130%;
  background-color: #ffffff;
}

.show_post_title{
  font-size: 180%;
  font-weight: bold;
  margin: 15px 0 ;

}

.post_user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}

.post_body {
 width: 900px;
 margin: 15px auto;
 background-color: #ffffff;
}

.post_manage{
  display: flex;
  justify-content: center;
  padding-top: 16px; 
}

.show_post_detail{
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:10px 0 ;
  margin: auto;
  border-bottom: #808080 solid 1px;
  width: 850px;
}

.post_message {
  padding: 10px 30px;
  margin: 10px 0;
}

.post_btn{
  display: block;
  padding: 6px 26px;
  font-size: 7px;
  color: #999;
  text-align: center;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.post_btn:hover{
  color: #fff;
  background: #999;
}

.show_favorite {
  background-color: #ffffff;
  width: 900px;
  margin: auto;
  text-decoration: none;
  color: #808080;
  text-align: center;
  font-size: x-large;
}

.post_comments{
  background-color: #ffffff;
  padding: 20px;
  width: 900px;
  margin: 15px auto;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* いいね */

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080; 
  margin-left: 20px;
  }
 
 .unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
  }

/* ユーザーページ */
.user_show{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  margin: 20px 30px;
}

.user_date {
  margin: 20px;
}

.user_nickname {
  font-size: 180%;
  font-weight: bold;
  margin: 10px 5px;
}

.user_profile{
  height: 200px;
  margin: 10px 5px;
  width: 600px;
  font-size: 120%;
}

.user_follows{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 5px;
  border-top: #808080 solid 1px;
}

.follower{
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: #3b4043;
}

.follow{
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: #3b4043;
}

.post_count{
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: #3b4043;
}

.user_followed{
  height: 50px;
  margin: 10px 5px;
}

.followed_btn{
  display: inline-block;
  padding: 6px 26px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.user_image {
  width: 400px;
  height: 400px;
  margin: 20px 150px;
}

.circle{
  border-radius: 50%;
  width: 380px;
  height: 380px;
  object-fit: cover;
  border: solid 0.3px #808080;
  margin: 10px;
}

.post_list{
  margin: 20px 0px 0px 10px;
}

.user_post{
  margin: 20px 30px;
}

.follow_name{
  text-decoration: none;
  color: #3b4043;
  font-size: 130%;
  font-weight: bold;
  margin-left: 50px;

}

.follow_list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  margin: 20px 50px;
}

.follow_img{
  margin-left: 50px;
}

.follow_circle{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: solid 0.3px #808080;
  margin: 10px;
}

.user_follow{
  margin-left: 700px;
}

/*入力フォーム*/
.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}


/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
  
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
